asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==6.0.6
djangorestframework==3.17.1
idna==3.18
pillow==12.2.0
razorpay==2.0.1
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
