body{
    font-family: Arial, sans-serif;
    background:#f5f5f5;
    padding:20px;
}

h1{
    text-align:center;
    color:#fc3816;
    margin-bottom:30px;
}

.order-card{
    background:white;
    width:500px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.order-card h3{
    color:#333;
}

.order-card p{
    margin:10px 0;
}

.order-card strong{
    color:#fc3816;
}