{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHub</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
   
</head>
<body>

    <nav>
        <h1>🍔 CraveCart</h1>

        <ul>
    <li><a href="{% url 'home' %}">Home</a></li>

    <li><a href="{% url 'restaurant_list' %}">Menu</a></li>

    <li><a href="{% url 'login' %}">Login</a></li>

    <li><a href="{% url 'register' %}">Register</a></li>

    <li><a href="{% url 'restaurant' %}">Register Restaurant</a></li>
    
    <li><a href="{% url 'cart' %}">Cart</a></li>

    <li><a href="{% url 'order_history' %}">My Orders</a></li>
</ul>
    </nav>

    <section class="hero">
        <h1>Delicious Food Delivered Fast</h1>
        <p>Order your favorite meals from top restaurants.</p>
        <a href="#" class="btn">Order Now</a>
    </section>

    <section class="foods">
        <h2>Popular Foods</h2>

        <div class="food-container">

            <div class="card">
                <img src="{% static 'images/burger.jpg' %}" alt="Burger">
                <h3>Burger</h3>
                <p>₹199</p>
                <button>Add to Cart</button>
            </div>

            <div class="card">
                <img src="{% static 'images/pizza.jpg' %}" alt="Pizza">
                <h3>Pizza</h3>
                <p>₹299</p>
                <button>Add to Cart</button>
            </div>

            <div class="card">
                <img src="{% static 'images/biryani.jpg' %}" alt="Biryani">
                <h3>Biryani</h3>
                <p>₹249</p>
                <button>Add to Cart</button>
            </div>

        </div>
    </section>

    <footer>
        <p>© 2026 Cravecart | Online Food Ordering System</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>