{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ restaurant.name }} Menu</title>

    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>

    <h1 class="title">🍴 {{ restaurant.name }} Menu</h1>

    <div class="menu-container">

        {% for food in foods %}

        <div class="menu-card">
          {% if "Burger" in food.name %}
    <img src="{% static 'images/burger.jpg' %}" alt="Burger">
{% elif "Pizza" in food.name %}
    <img src="{% static 'images/pizza.jpg' %}" alt="Pizza">
{% elif "Biryani" in food.name %}
    <img src="{% static 'images/biryani.jpg' %}" alt="Biryani">
{% endif %}

            <h3>{{ food.name }}</h3>
           {% if food.review_count > 0 %}
<p>
    ⭐ {{ food.avg_rating }}/5
    ({{ food.review_count }} Reviews)
</p>
{% else %}
<p>No Reviews Yet</p>
{% endif %}

            <p>{{ food.description }}</p>

            <p class="price">₹{{ food.price }}</p>

            <a href="{% url 'add_to_cart' food.id %}">
           <button>Add to Cart</button>
</a>
<form method="POST" action="{% url 'add_review' food.id %}">
    {% csrf_token %}

    <label>Rating:</label>

    <select name="rating">
        <option value="1">1 ⭐</option>
        <option value="2">2 ⭐⭐</option>
        <option value="3">3 ⭐⭐⭐</option>
        <option value="4">4 ⭐⭐⭐⭐</option>
        <option value="5">5 ⭐⭐⭐⭐⭐</option>
    </select>

    <br><br>

    <textarea
        name="comment"
        placeholder="Write your review..."
        rows="3"
        cols="25"
    ></textarea>

    <br><br>

    <button type="submit">
        Submit Review
    </button>
</form>

<h4>Reviews</h4>

{% for review in reviews %}
    {% if review.food_item.id == food.id %}

        <p>
            <strong>{{ review.user.username }}</strong>
            - {{ review.rating }} ⭐
        </p>

        <p>{{ review.comment }}</p>

        <small>
            {{ review.created_at|date:"d M Y, h:i A" }}
        </small>

        <hr>

    {% endif %}
{% endfor %}
        </div>

        {% empty %}

        <h2>No food items available.</h2>

        {% endfor %}

    </div>

</body>
</html>